torchvision
torch
git+https://github.com/facebookresearch/segment-anything.git
opencv-python 
pycocotools 
matplotlib==3.6
onnxruntime 
onnx 
dagster
dagster-webserver
dagster-postgres
dagster-cloud
dagster-aws
dagster-azure
boto3
seaborn-image